.footer-div{
    background-color: #3c3c3c;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.text-footer{
    width: 100%;
    text-align: center;

}

.text-footer p{
    color: white;
    font-family: Roboto;
    font-weight: 300;
}


@media (max-width: 768px) {

    .text-footer{
        font-size: 17px;
    }

}