.tech_container {
    width: 90%;
    padding: 5%;
    background-image: url('../../assets/bg/bg-s.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.images_container {
    display: flex;
    align-items: center;
    padding: 10px;

}




.left_container {
    width: 70%;
}

.right_container {
    width: 45%;
}

.right_container img {
    width: 100%;
    transition: all 1s ease 0s;
}


.grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas con el mismo ancho */
    grid-gap: 10px;
    
    /* Espacio entre las celdas */
}

.grid_item {
    height: 85px;
    width: 210px;
    position: relative;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.hover-tech img{
    height: 70px;
    user-select: none;
}

.grid_item img {
    height: 70px;
    user-select: none;
}

.grid_item:hover .hover-tech{
    opacity: 1;
    border-radius: 20px;
    padding: 20px;
    /* Mostrar el hover cuando se hace hover en el contenedor */
}

.hover-tech{
    position: absolute;
    top: 0;
    left: 0;
    height: 85px;
    width: 210px;
    border-radius: 20px;
    background-color: #0294FF;
    z-index: 0;
    opacity: 0;
    text-align: center;
    cursor: pointer;
}

.tech-text{

}

.tech-text h1{
    color: #064d7d;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    user-select: none;

}

.hover-tech p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 19px;
    margin-top: 0px;
    font-weight: bold;
    user-select: none;
}

.tech-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #515354;
    user-select: none;

}


.separator-1{
    width: 100%;
}
.separator-1 img{
    width: 100%;
    user-select: none;
    user-zoom: none;
    margin-top: -10%;
}


 /* Estilos para pantallas pequeñas */
 @media (max-width: 768px) {
    .grid_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 4 columnas con el mismo ancho */
        grid-gap: 10px;
        
        /* Espacio entre las celdas */
    }

    .grid_item{
        height: 74px;
        width: 135px;
        position: relative;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
    
    }

    .tech-text{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        width: 91%;
        font-size: 18px;
        color: #515354;
        -webkit-user-select: none;
        user-select: none;
        margin-left: 5%;
    }
    .images_container {
        display: block;
        align-items: center;
        padding: 10px;
    
    }

    .right_container{
        display: none;
    }
    

    .hover-tech{
        position: absolute;
        top: 0;
        left: 0;
        height: 75px;
        width: 133px;
        border-radius: 20px;
        background-color: #0294FF;
        z-index: 0;
        opacity: 0;
        text-align: center;
        cursor: pointer;
    }
    
    
 }