<div class="tech_container">
    <p>Tecnologias</p>
    <div class="images_container">
        <div class="left_container">
            <div class="grid_container">
                <div class="grid_item">
                    <img src="../../assets/icons/kotlin.png"/>
                </div>
                <div class="grid_item">
                    <img src="../../assets/icons/angular.png"/>
                </div>
                <div class="grid_item">
                    <img src="../../assets/icons/React.png"/>
                </div>
                <div class="grid_item">
                    <img src="../../assets/icons/firebase.png"/>
                </div>
                <div class="grid_item">
                    <img src="../../assets/icons/html.png"/>
                </div>
                <div class="grid_item">
                    <img src="../../assets/icons/css.png"/>
                </div>
            </div>
        </div>
        <div class="right_container">
            <img src="../../assets/boy_tech.png" alt="boy_shared_tech"/>



        </div>


    </div>






</div>