<div class="tech_container">
    <div class="tech-text">
        <h1>Habilidades</h1>
        <p>A continuación podrán ver las tecnologías que manejo actualmente.</p>
    </div>
    <div class="images_container">
        <div class="left_container">
            <div class="grid_container">
                <div class="grid_item">
                        <img src="../../assets/icons/kotlin.png"/>
                    <div class="hover-tech">
                        <img src="../../assets/icons/kotlin_2.png"/>
                        <p>Kotlin</p>
                    </div>
                </div>
                <div class="grid_item">
                    <img src="../../assets/icons/angular.png"/>
                    <div class="hover-tech">
                        <img src="../../assets/icons/angular_2.png"/>
                        <p>Angular</p>

                    </div>
                </div>
                <div class="grid_item">
                    <img src="../../assets/icons/React.png"/>
                    <div class="hover-tech">
                        <img src="../../assets/icons/React_2.png"/>
                        <p>React JS</p>

                    </div>
                </div>
                <div class="grid_item">
                    <img src="../../assets/icons/firebase.png"/>
                    <div class="hover-tech">
                        <img src="../../assets/icons/firebase_2.png"/>
                        <p>Firebase</p>

                    </div>
                </div>
                <div class="grid_item">
                    <img src="../../assets/icons/html.png"/>
                    <div class="hover-tech">
                        <img src="../../assets/icons/html_2.png"/>

                    </div>
                </div>
                <div class="grid_item">
                    <img src="../../assets/icons/css.png"/>
                    <div class="hover-tech">
                        <img src="../../assets/icons/css_2.png"/>

                    </div>
                </div>
                <div class="grid_item">
                    <img src="../../assets/icons/javafx.png"/>
                    <div class="hover-tech">
                        <img src="../../assets/icons/javafx_2.png"/>
                        <p>Java FX</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="right_container">
            <img src="../../assets/boy_tech.png" alt="boy_shared_tech"/>
        </div>


    </div>
</div>
