
<div class="projects-container">
    <div class="info-container">
        <h1>Portafolio.</h1>
        <p>A continuación podrás ver los proyectos en los que he trabajado.</p>
    </div>
    <div class="content-projects-container">
        <div class="left-container">
            <img src="../../assets/my_projects.png" alt="my_projects icon">
        </div>
        <div class="right-container">
            <div class="grid-projects">
                <div class="grid-items">
                    <app-card-project
                        imageurl="../../assets/bicicletero.png"
                        nameP="Bicicletero Utal"
                        description="BicicleteroUtal es una plataforma web desarrollada para la facultad de Ingeniera de la Universidad de Talca, donde su principal funcion es mantener un registro de los accesos de los estudiantes al bicicletero de la universidad, mediante un escaner de qr, que cada estudiente podra obtener desde la plataforma, cuando sean registrados."
                    ></app-card-project>
                </div>
                <div class="grid-items">
                    <app-card-project
                        imageurl="../../assets/drosucatch.png"
                        nameP="Drosucatch"
                    ></app-card-project>
                </div>
                <div class="grid-items">
                    <app-card-project
                        imageurl="../../assets/drosumobile.png"
                        nameP="Drosucatch Mobile"
                    ></app-card-project>
                </div>

                <div class="grid-items">
                    <app-card-project
                        imageurl="../../assets/students.png"
                        nameP="Students Memory"
                    ></app-card-project>
                </div>



            </div>

        </div>
    </div>
</div>