.projects-container{
    width: 100%;
    margin-top: -6px;
    background-color: #f0f0f0;
}

.content-projects-container{
    width: 100%;
    display: flex;
    align-items: center;
}



.right-container{
    width: 65%;
}
.left-container{
    width: 30%;
    

}
.left-container img{
    width: 100%;

}

.grid-projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 4 columnas con el mismo ancho */
    grid-gap: 20px;
    /* Espacio entre las celdas */
}


.grid-items{
    padding: 0px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.info-container{
    padding: 5%;
    width: 90%;}

.info-container h1{
    
    font-style: bold;
    color: #064d7d;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}


.info-container p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #515354;
}

.hover-content p{
    font-size: 25px;
    color: white;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;

}

