<div class="presentation-bg">
    <div class="container-presentation">
        <div class="left-container">
            <div class="text-presentation">
                <h1>Hola, Me llamo Sebastián.</h1>
                <p>
                    Soy egresado en Ingeniería Civil en Computación de la Universidad de Talca, con enfoque en el desarrollo de software y especialización en Front-end. Mi experiencia abarca la creación de soluciones para plataformas web y un poco en móviles, combinando habilidades en diseño de interfaces para ofrecer experiencias de usuario excepcionales y funcionales.
                </p>
            </div>
            <div class="buttons-presentation">
                <div (click)="redireccionarGithub()" class="buttons-container">
                    <div class="icon-container">
                        <img src="../../assets/icons/github.png">
                        <a> <a>Github</a></a>

                    </div>
                    <div class="hover-button">
                        <img src="../../assets/icons/github_2.png">
                        <a> <a>Github</a></a>
                    </div>

                </div>
                <div (click)="redireccionarLinkedIn()" class="buttons-container">
                    <div class="icon-container">
                        <img src="../../assets/icons/linkedin.png">
                        <a> <a>LinkedIn</a></a>
                    </div>
                    <div class="hover-button">
                        <img src="../../assets/icons/linkedin_2.png">
                        <a> <a>LinkedIn</a></a>

                    </div>

                </div>
            </div>
        </div>
        <div class="right_container">
            <img class="myAnimation"   src="../../assets/me.png" alt="me">

        </div>
    </div>


</div>