.presentation-bg {
    height: 500px;
    width: 100%;
    background-image: url('../../assets/bg/bg-home.jpg');
    background-size: cover;
    background-attachment: fixed;

}


.myAnimation {
    width: 100px;
    animation: myAnimation 2s infinite;
   }
   
   @keyframes myAnimation {
     0%   {transform: translateY(-3%);}
     50%   {transform: translateY(3%);}
     100% {transform: translateY(-3%);}
   }


.container-presentation {
    width: 90%;
    margin-left: 5%;
    height: 100%;
    display: flex;
    align-items: center;
}


.left-container {
    width: 60%;
}

.right_container {
    width: 40%;
}

.right_container img {
    margin-top: 12%;
    margin-left: -7%;
    width: 110%;
    user-select: none;
    z-index: 7;
}

.buttons-presentation {
    display: flex;
    align-items: center;
    width: 100%;
}

.buttons-presentation img {
    width: 9%;
    margin-left: 26%;
    margin-top: 4%;
}



.buttons-container {
    position: relative;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    background-color: white;
    width: 40%;
    margin-left: 3%;
    height: 70px;
}



.hover-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #035c97;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
}

.icon-container a {
    font-size: 30px;
    position: absolute;
    top: 28%;
    color: #252525;
    font-weight: bold;
    margin-left: 13px;
}

.hover-button a {
    font-size: 30px;
    position: absolute;
    top: 28%;
    color: #ffffff;
    font-weight: bold;
    margin-left: 13px;
}

.buttons-container:hover .hover-button {
    opacity: 1;
    border-radius: 10px;
}


.text-presentation {}

.text-presentation h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    user-select: none;
    font-weight: 900;
    font-size: 65px;
}

.text-presentation p {
    font-family: 'Roboto',sans-serif;
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    -webkit-user-select: none;
    user-select: none;


}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {

    .left-container {
        width: 90%;
    }

    .right_container {
        display: none;
    }

    .text-presentation h1 {
        font-family: 'Roboto', sans-serif;
        color: white;
        user-select: none;
        font-weight: 900;
        font-size: 27px;
    }

    .container-presentation {
        width: 87%;
        margin-left: 9%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .hover-button a {
        font-size: 30px;
        position: absolute;
        top: 28%;
        display: none;
        color: #ffffff;
        font-weight: bold;
        margin-left: 13px;
    }
    .icon-container a {
        font-size: 30px;
        display: none;
        position: absolute;
        top: 28%;
        color: #252525;
        font-weight: bold;
        margin-left: 13px;
    }
    
    .buttons-container{
        position: relative;
        font-family: 'Roboto', sans-serif;
        border-radius: 10px;
        background-color: white;
        width: 50%;
        margin-left: 3%;
        height: 70px;
    
    }

    .buttons-presentation img{
        width: 37%;
        margin-left: 32%;
        margin-top: 4%;
    
    }
    .presentation-bg {
        height: 500px;
        width: 100%;
        background-image: url('https://firebasestorage.googleapis.com/v0/b/inazumaplus-3f274.appspot.com/o/fondomovil.jpg?alt=media&token=06ff35c4-f7a7-4fbc-ad91-f81b566edf8a');
        background-size: cover;
        background-attachment: fixed;
    
    }
    
    

}