<div class="presentation-bg">
    <div class="container-presentation">
        <div class="left-container">
            <div class="text-presentation">
                <h1>Hola, Me llamo Sebastián.</h1>
                <p>Soy Egresado de ingeniería civil en Computación de la Universidad de Talca, me especializo principalmente en el desarrollo de Software, tanto web como móvil, destacando en el Front-end, además de tener conocimiento en Diseño de interfaces.</p>
            </div>
            <div class="buttons-presentation">
                <div (click)="redireccionarGithub()" class="buttons-container">
                    <div class="icon-container">
                        <img src="../../assets/icons/github.png">
                        <a> <a>Github</a></a>

                    </div>
                    <div class="hover-button">
                        <img src="../../assets/icons/github_2.png">
                        <a> <a>Github</a></a>
                    </div>

                </div>
                <div (click)="redireccionarLinkedIn()" class="buttons-container">
                    <div class="icon-container">
                        <img src="../../assets/icons/linkedin.png">
                        <a> <a>LinkedIn</a></a>
                    </div>
                    <div class="hover-button">
                        <img src="../../assets/icons/linkedin_2.png">
                        <a> <a>LinkedIn</a></a>

                    </div>

                </div>
            </div>
        </div>
        <div class="right_container">
            <img src="../../assets/me.png" alt="me">

        </div>
    </div>


</div>