@font-face {
    font-family: 'MiFuente';
    src: url('../../fonts/Mosk_Typeface/MoskNormal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



@font-face {
    font-family: 'MiFuente';
    src: url('../../fonts/Mosk_Typeface/MoskExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: bold;
}

* {
    font-family: 'MiFuente';
}

.presentation-bg {
    height: 550px;
    width: 100%;
    background: linear-gradient(180deg, #2039a7 100px, #000 950px);


}


@keyframes mover {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}


.button-reload {
    border: none;
    cursor: pointer;
    font-family: 'MiFuente';
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 76%;
    height: 45px;
    font-weight: 600;
    color: #2039a7;
    border: 2px solid white;
    background-color: #ffff;
    padding: 10px;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out; /* Transición en el cambio de color de fondo y texto */
}

.button-reload:hover {
    background-color: #2039a727;
    color: white; /* Nuevo color del texto al hacer hover */
    border: 2px solid rgba(255, 255, 255, 0.445);
}




.myAnimation {
    width: 100px;
    animation: myAnimation 3s infinite;
}

@keyframes myAnimation {
    0% {
        transform: translateY(-3%);
    }

    50% {
        transform: translateY(3%);
    }

    100% {
        transform: translateY(-3%);
    }
}

.container-presentation {
    width: 90%;
    margin-left: 5%;
    height: 100%;
    display: flex;
    align-items: center;
}

.left-container {
    width: 60%;
}

.right_container {
    width: 40%;
}

.right_container img {
    margin-top: 0%;
    margin-left: 6%;
    width: 100%;
    user-select: none;
    z-index: 7;
}

.buttons-presentation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
    width: 100%;
}

.buttons-presentation img {
    width: 9%;
    padding: 10px;
}



.buttons-container {
    position: relative;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    margin-left: 3%;
    height: 70px;
}

.hover-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 3px solid white;
    height: 100%;
    border-radius: 20px;
    background-color: #035c97;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
}

.icon-container a {
    font-size: 30px;
    position: absolute;
    top: 28%;
    color: #064d7d;
    font-weight: bold;
    margin-left: 13px;
}

.hover-button a {
    font-size: 30px;
    position: absolute;
    top: 28%;
    color: #ffffff;
    font-weight: bold;
    margin-left: 13px;
}

.buttons-container:hover .hover-button {
    opacity: 1;
    border-radius: 10px;
    transition: opacity 500ms ease-in-out 0s;
}


.text-presentation {}

.text-presentation h1 {
    font-family: 'MiFuente';
    color: white;
    user-select: none;
    font-weight: 900;
    font-size: 65px;
}

.text-presentation p {
    font-family: 'MiFuente';
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    -webkit-user-select: none;
    user-select: none;


}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {

    .left-container {
        width: 90%;
        
    }

    .right_container {
        display: none;
    }

    .text-presentation h1 {
        font-family: 'Roboto', sans-serif;
        color: white;
        user-select: none;
        font-weight: 900;
        font-size: 27px;
    }

    .container-presentation {
        width: 87%;
        margin-left: 9%;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .hover-button a {
        font-size: 30px;
        position: absolute;
        top: 28%;
        display: none;
        color: #ffffff;
        font-weight: bold;
        margin-left: 13px;
    }

    .icon-container a {
        font-size: 30px;
        display: none;
        position: absolute;
        top: 28%;
        color: #252525;
        font-weight: bold;
        margin-left: 13px;
    }

    .buttons-container {
        position: relative;
        font-family: 'Roboto', sans-serif;
        border-radius: 10px;
        background-color: white;
        width: 50%;
        margin-left: 3%;
        height: 70px;

    }

    .buttons-presentation img {
        width: 37%;
        margin-top: 4%;

    }

    .presentation-bg {
        height: 500px;
        width: 100%;
        background: linear-gradient(180deg, #2039a7 100px, #000 950px);

    }



    .button-reload {
        border: none;
        cursor: pointer;
        font-family: 'MiFuente';
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 76%;
        height: 45px;
        font-weight: 600;
        color: #2039a7;
        border: 2px solid white;
        background-color: #ffff;
        padding: 10px;
        transition: background-color 500ms ease-in-out, color 500ms ease-in-out; /* Transición en el cambio de color de fondo y texto */
    }

    .button-reload a{
        display: none;
    }
    
    .button-reload:hover {
        background-color: #2039a727;
        color: white; /* Nuevo color del texto al hacer hover */
        border: 2px solid rgba(255, 255, 255, 0.445);
    }



}