<div class="card-container">
    <div class="card-image">
        <img src={{imageurl}}>
    </div>
    <div class="technologies">
        <div class="left-tech">
            <button class="button-card" (click)="openModal()">Abrir Modal</button>
            <app-modal title={{nameP}} *ngIf="isModalOpen" (closeModalEvent)="closeModal()"></app-modal>
        </div>
        <div class="right-tech">
            <img src="../../assets/icons/React.png">
            <img src="../../assets/icons/firebase.png">

        </div>
    </div>
    <div class="hover-content">
        <p>{{nameP}}</p>
        <button>Mas Info</button>
    </div>
</div>