/* BEGIN CARD DESIGN */
.hero {
    display: inline-block;
    position: relative;
    width: 420px;
    min-width: 420px;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
  }
  
  .hero-profile-img {
    height: 80%;
  }
  
  .hero-description-bk {
    background-color: white;
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
  }
  
  .second .hero-description-bk {
    background-color: white;
  }
  
  .hero-logo {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    bottom: 30%;
    left: 30px;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
  }
  
  .hero-logo img {
    height: 100%;
  }
  
  .hero-description {
    position: absolute;
    color: #0294FF;
    font-weight: bold;
    left: 150px;
    bottom: 26%;
  }
  
  .hero-btn {
    position: absolute;
    right: 30px;
    bottom: 10%;
    padding: 10px 20px;
  }
  
  .hero-btn a {
    color: #fff;
  }
  
  .hero-date {
    position: absolute;
    color: #fff;
    left: 30px;
    bottom: 10%;
  }
  /* END CARD DESIGN */



  .hero-description p {
    font-family: 'Roboto', sans-serif;
    font-style: bold;
  }
  .btn i:before {
    width: 14px;
    height: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top:5px;
    right:5px;
  }




  .buttonCard {
    width: 200px;
    height: 40px;
    border: 2px solid #0294FF;
    background-color: white;
    border-radius: 6px;
    color: #0294FF;
    box-shadow: inset 0 0 0 0 #0294FF;
    transition: ease-out 0.3s;
    font-size: 18px;
    padding: 5px;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    text-align: center;
}

.buttonCard:hover {
    box-shadow: inset 300px 0 0 0 #0294FF;
    cursor: pointer;
    color: white;

}
