.card-image {
    width: 100%;
    position: relative;
    z-index: 0;
    /* Imagen se muestra detrás del hover */
}

.card-image img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    z-index: 0;
    /* Imagen se muestra detrás del hover */
}

.technologies {
    height: 55px;
    display: flex;
    width: 100%;
    align-items: center;
}

.right-tech {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
}

.card-container {
    position: relative;
    /* Asegura que el contenedor sea posicionado para que el z-index tenga efecto */
}

.right-tech img {
    width: 30px;
}

.left-tech {
    width: 80%;
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#035c97b1;
    /* Color de fondo del hover, puedes ajustarlo según tus preferencias */
    z-index: 0;
    /* Hover se muestra detrás de la imagen */
    opacity: 0;
    /* Para que inicialmente sea transparente */
    transition: opacity 0.3s;
    /* Efecto de transición suave */
}

.card-container:hover .hover-content {
    opacity: 1;
    border-radius: 20px;
    /* Mostrar el hover cuando se hace hover en el contenedor */

}