<div class="contact-container">
    <div class="separator-2">
        <img src="../../assets/bg/bg-p.png"/>
    </div>
    <div class="info-container-contact">
        <h1>Contacto.</h1>
        <p>A continuación ....</p>
    </div>
    <div class="contact-box">
        <div class="left-container">
            
            <div className='loginForm'>
                <form >
                    <p>Correo</p>
                    <input className="input-login" required="required" name="email" type='text' placeholder='Ingrese su correo' />
                    <br />
                    <br />
                    <p>Contraseña</p>
                    <input className="input-login" required="required" name="password" type='password' placeholder='Ingrese su contraseña' />
                    <br />
                    <br />
                    <Button className="button-login" type="submit" >
                        Contactar
                    </Button>
                </form>
            </div>

        </div>
        <div class="right-container">
            <img src="../../assets/contact.png">
        </div>
    </div>
</div>
