<div class="contact-container">
    <div class="separator-2">
        <img src="../../assets/bg/bg-p.png"/>
    </div>
    <div class="info-container-contact">
        <h1>Contacto.</h1>
    </div>
    <div class="contact-box">
        <div class="left-container">
            
            <div class='loginForm'>
                <div class="inputs-forms">
                    <form name="contact" method="POST" action="https://formspree.io/f/mgejnzzw">
                      <input type="hidden"    required="required" name="form-name" value="contact">
                        <p>
                          <input  required="required" class="input-contact" type="text" name="name" placeholder="Ingrese su Nombre" />
                        </p>
                        <p>
                          <input  required="required" class="input-contact"  type="email" name="email" placeholder="Ingrese su correo" />
                          
                        </p>
                        <p>
                          <input   required="required" class="input-contact" type="text" name="asunto" placeholder="Ingrese el asunto" />
                          
                        </p>
                        <p>
                          <textarea   required="required" class="input-contactArea" name="message" placeholder="Ingrese su mensaje"></textarea>
                        </p>
                        <p>
                          <button  type="submit" class="buttonSend">Contactar</button>
                        </p>
                      </form>
                </div>
             







            </div>

        </div>
        <div class="right-container">
            <img src="../../assets/contact.png">
        </div>
    </div>
</div>
