<div class="modal">
    <div class="modal-content">
      <!-- Contenido del modal -->
      <div class="video-demo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_kEUCsPiTVQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>     </div>
      <div class="title-modal">
        <h1>Proyecto: {{title}}</h1>
        <p>Drosucatch!, es un sistema multiplataforma de apoyo dedicado al registro y monitoreo de la drosophila Suzukii (La Mosquita de alas manchadas) </p>
        <button class="close-button" (click)="closeModal()">Cerrar Modal</button>

      </div>
     
     
    </div>
  </div>