<div class="modal">
  <div class="modal-content">
    <!-- Contenido del modal -->
    <div class="video-demo">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/i7ggv9if_CI" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <div class="title-modal">
        <div class="title-p">
          <h1>{{title}}</h1>
        </div>
        <div class="description">
          <p>{{description}}</p>
        </div>
        <div class="techs">
          <p>Desarrollado en : React JS + Firebase</p>
        </div>
        <button class="close-button" (click)="closeModal()">Cerrar</button>

      </div>


    </div>
  </div>